@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap");

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Poppins", "Times New Roman", sans-serif;
}

header {
  text-align: center;
}

main {
  height: 80vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

section {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
}

.display-section .recent-score {
  display: flex;
  gap: 10px;
  flex-direction: row;
  align-items: center;
}

.refresh-btn {
  padding: 2px 1.5em;
  background-color: green;
  border: 1px solid green;
  color: white;
}

.refresh-btn:hover {
  opacity: 0.8;
}

.refresh-btn:active {
  background-color: rgb(1, 37, 1);
}

.result {
  width: 35vw;
  border: 2px solid grey;
  display: flex;
  flex-direction: column;
}

.result p {
  padding: 7px;
}

.result p:nth-child(even) {
  background-color: grey;
}

.result p:hover {
  background-color: #ddd;
}

.add-section form {
  width: 30vw;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.btn-container {
  width: 30vw;
  display: flex;
  justify-content: flex-end;
}

.submit-btn {
  padding: 5px 10px;
  border: 1px solid blue;
  background-color: blue;
  color: white;
}

.submit-btn:hover {
  opacity: 0.8;
}

.submit-btn:active {
  background-color: rgb(0, 0, 44);
}
